* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

// Fonts

// Nekst-Black
@font-face {
    font-family: 'Nekst-Black';
    src: url('./../fonts/Nekst-Black/Nekst-Black.eot');
    src: local('Nekst-Black'), local('Nekst-Black'),
        url('./../fonts/Nekst-Black/Nekst-Black.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Nekst-Black/Nekst-Black.woff2') format('woff2'),
        url('./../fonts/Nekst-Black/Nekst-Black.woff') format('woff'),
        url('./../fonts/Nekst-Black/Nekst-Black.ttf') format('truetype');
}
// Gilroy
@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Gilroy/Gilroy-Black.eot');
    src: local('Gilroy'), local('Nekst-Black'),
        url('./../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
        url('./../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
        url('./../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
}


// Global

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculator {
    .calculator-title {
        font-family: 'Nekst-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 90%;
        margin-bottom: 32px;
    }

    .calculator__content {
        .calculator__content-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 32px;
            row-gap: 51px;
            grid-template-areas:
                ". . ."
                ". . .";

            .calculator__content-list--box {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .calculator__content-list--title {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                    color: #575757;

                }

                .calculator__content-list--input {
                    position: relative;

                    width: 427px;
                    height: 68px;
                    background: #F3F3F4;
                    border-radius: 16px;
                    padding: 0 24px;
                    display: flex;
                    align-content: center;
                    justify-content: center;

                    .calculator__content-list--text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-family: 'Nekst-Black';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 30px;
                        color: #575757;

                        .calculator__content-list--text---currency-procent {
                            font-family: 'Nekst-Black';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;

                            background: #EBEBEC;
                            border-radius: 16px;

                            padding: 15px 17px;

                            color: #575757;
                        }
                    }



                    & input[type='range']::-webkit-slider-thumb {
                        -webkit-appearance: none !important;
                        background: #FF9514;
                        border-radius: 100%;
                        height: 20px;
                        width: 20px;
                    }


                    #priceCar {
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(to right, #FF9514 0%, #FF9514 21%, #E1E1E1 21%, #E1E1E1 100%);
                        border: none;
                        border-radius: 8px;
                        height: 2px;
                        width: 379px;
                        outline: none;
                        transition: background 450ms ease-in;
                        appearance: none;
                    }

                    #initialPay {
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(to right, #FF9514 0%, #FF9514 21%, #E1E1E1 21%, #E1E1E1 100%);
                        border: none;
                        border-radius: 8px;
                        height: 2px;
                        width: 379px;
                        outline: none;
                        transition: background 450ms ease-in;
                        appearance: none;
                    }

                    #leaseTerm {
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(to right, #FF9514 0%, #FF9514 50%, #E1E1E1 50%, #E1E1E1 100%);
                        border: none;
                        border-radius: 8px;
                        height: 2px;
                        width: 379px;
                        outline: none;
                        transition: background 450ms ease-in;
                        appearance: none;
                    }
                }
            }

            .calculator__content-list--result {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .calculator__content-list--title {
                    font-family: 'Gilroy';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 16px;

                    color: #575757;
                }

                & h1 {
                    font-family: 'Nekst-Black';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 54px;

                    color: #333333;
                }
            }

            .calculator__content-list--btn {
                display: flex;
                align-items: center;
                justify-content: center;

                & button {
                    background: #FF9514;
                    border-radius: 40px;
                    width: 426px;
                    height: 68px;
                    font-family: 'Nekst-Black';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 30px;
                    color: #FFFFFF;
                }
            }
        }
    }
}