* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

// Fonts

// Nekst-Black
@font-face {
    font-family: 'Nekst-Black';
    src: url('./../fonts/Nekst-Black/Nekst-Black.eot');
    src: local('Nekst-Black'), local('Nekst-Black'),
        url('./../fonts/Nekst-Black/Nekst-Black.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Nekst-Black/Nekst-Black.woff2') format('woff2'),
        url('./../fonts/Nekst-Black/Nekst-Black.woff') format('woff'),
        url('./../fonts/Nekst-Black/Nekst-Black.ttf') format('truetype');
}

// Gilroy
@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy'), local('Gilroy'),
        url('./../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('./../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
        url('./../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}


// Global

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    @media screen and (min-width: 1440px) {
        justify-content: center;
    }
}

.calculator {
    @media screen and (max-width: 1440px) {
        padding: 0 48px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 36px;
    }

    @media screen and (max-width: 320px) {
        padding: 0 20px;
    }

    .calculator-title {
        font-family: 'Nekst-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 90%;
        margin-bottom: 32px;
    }

    .calculator__content {
        .calculator__content-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "carPrice initialPay leaseTerm"
                "result-lease monthly-payment calculator__content-list--btn";
            column-gap: 2.22vw;
            row-gap: 3.54vw;

            .carPrice {
                grid-area: carPrice;
            }

            .initialPay {
                grid-area: initialPay;
            }

            .leaseTerm {
                grid-area: leaseTerm;
            }

            .result-lease {
                grid-area: result-lease;
            }

            .monthly-payment {
                grid-area: monthly-payment;
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: minmax(150px, 1.33fr) 1fr;
                grid-template-rows: 1fr 1fr 1fr 12.42vw 68px;
                grid-template-areas:
                    "carPrice carPrice"
                    "initialPay initialPay"
                    "leaseTerm leaseTerm"
                    "result-lease monthly-payment"
                    "calculator__content-list--btn .";
            }

            @media screen and (max-width: 320px) {
                display: flex;
                flex-direction: column;
            }


            .calculator__content-list--box {
                display: flex;
                flex-direction: column;
                gap: 24px;

                @media screen and (max-width: 768px) {
                    gap: 3.13vw;
                }

                .calculator__content-list--title {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                    color: #575757;

                }

                .calculator__content-list--input {
                    position: relative;

                    width: 427px;
                    height: 68px;
                    background: #F3F3F4;
                    border-radius: 16px;
                    padding: 0 24px;
                    display: flex;
                    align-content: center;
                    justify-content: center;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    .calculator__content-list--text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-family: 'Nekst-Black';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 30px;
                        color: #575757;

                        @media screen and (max-width: 320px) {
                            color: #333E48;
                            font-size: 22px;
                        }

                        .calculator__content-list--text---currency-procent {
                            font-family: 'Nekst-Black';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;

                            background: #EBEBEC;
                            border-radius: 16px;

                            padding: 15px 17px;

                            color: #575757;

                            @media screen and (max-width: 320px) {
                                color: #333E48;
                                font-size: 22px;
                            }
                        }
                    }



                    & input[type='range']::-webkit-slider-thumb {
                        -webkit-appearance: none !important;
                        background: #FF9514;
                        border-radius: 100%;
                        height: 20px;
                        width: 20px;
                    }


                    #priceCar {
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(to right, #FF9514 0%, #FF9514 21%, #E1E1E1 21%, #E1E1E1 100%);
                        border: none;
                        border-radius: 8px;
                        height: 2px;
                        width: 379px;
                        outline: none;
                        transition: background 450ms ease-in;
                        appearance: none;

                        @media screen and (max-width: 768px) {
                            width: 94%;
                        }
                    }

                    #initialPay {
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(to right, #FF9514 0%, #FF9514 21%, #E1E1E1 21%, #E1E1E1 100%);
                        border: none;
                        border-radius: 8px;
                        height: 2px;
                        width: 379px;
                        outline: none;
                        transition: background 450ms ease-in;
                        appearance: none;

                        @media screen and (max-width: 768px) {
                            width: 94%;
                        }
                    }

                    #leaseTerm {
                        position: absolute;
                        bottom: 0;
                        background: linear-gradient(to right, #FF9514 0%, #FF9514 50%, #E1E1E1 50%, #E1E1E1 100%);
                        border: none;
                        border-radius: 8px;
                        height: 2px;
                        width: 379px;
                        outline: none;
                        transition: background 450ms ease-in;
                        appearance: none;

                        @media screen and (max-width: 768px) {
                            width: 94%;
                            background: linear-gradient(to right, #FF9514 0%, #FF9514 48%, #E1E1E1 48%, #E1E1E1 100%);
                        }
                    }
                }
            }

            .calculator__content-list--result {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .calculator__content-list--title {
                    font-family: 'Gilroy';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 16px;

                    color: #575757;

                    @media screen and (max-width: 768px) {
                        font-size: 2.08vw;
                    }

                    @media screen and (max-width: 320px) {
                        font-size: 4.38vw;
                        color: #333E48;
                    }
                }

                & h1 {
                    font-family: 'Nekst-Black';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 54px;

                    color: #333333;

                    @media screen and (max-width: 768px) {
                        font-size: 7.03vw;
                    }
                }
            }

            .calculator__content-list--btn {
                display: flex;
                align-items: center;
                justify-content: center;

                & button {
                    background: #FF9514;
                    border-radius: 40px;
                    width: 426px;
                    height: 68px;
                    font-family: 'Nekst-Black';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 30px;
                    color: #FFFFFF;

                    @media screen and (max-width: 768px) {
                        font-size: 3.91vw;
                        height: 8.85vw;
                    }
                    @media screen and (max-width: 320px) {
                        height: 18.75vw;
                        font-size: 6.88vw;
                    }
                }
            }
        }
    }
}